In [ ]:
import pandas as pd
print("âœ… Pandas instalado!")
print("VersiÃ³n:", pd.__version__)

# Creating a DataFrame from a dictionary
# Empresa de sofware
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack', 'Kathy', 'Liam', 'Mona', 'Nate', 'Olivia', 'Paul', 'Quinn', 'Rachel', 'Sam', 'Tina'],
        'Age': [25, 30, 35, 28, 22, 40, 29, 31, 27, 33, 26, 24, 32, 42, 30, 28, 27, 31, 25, 26],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Miami', 'Seattle', 'Boston', 'Denver', 'Austin', 'Houston', 'Philadelphia', 'Phoenix', 'San Diego', 'Dallas', 'Chicago', 'Detroit', 'Columbus', 'Chicago', 'Indianapolis', 'Miami'],
        'Occupation': ['Frontend', 'Designer', 'owner', 'Developer-back', 'Intern', 'Frontend', 'Developer-back', 'Designer', 'Intern', 'Developer-movil', 'Developer-movil', 'sales', 'Developer-lead', 'Intern', 'Manager', 'fullstack', 'sales', 'Intern', 'marketing', 'Manager'],
        
        }
df = pd.DataFrame(data)
print(df)
print(f"Type::: {type(df)}")

### SELECCIÃ“N DE DATOS EN PANDAS MEDIANTE `loc`, `iloc` Y NOMBRE DIRECTO ####

In [ ]:
## 1. SelecciÃ³n por POSICIÃ“N â†’ `iloc`
# Se usa cuando quieres acceder por _Ã­ndices numÃ©ricos_ (0, 1, 2â€¦).
print(df.iloc[0, 2])        # Fila 0, Columna 2

In [ ]:
# 3. SelecciÃ³n por NOMBRE DIRECTO (solo columnas)
#print(df[['Name']])  # Select specific columns
print(df[['Name', 'Age']])  # Select specific columns

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   28

# ### SelecciÃ³n avanzada ####

In [ ]:
# ðŸŸ£ 4. SelecciÃ³n avanzada
# print(df[df['Age'] > 28])  # Rows where Age > 28
print(df[(df['Age'] > 25) & (df['City'] == 'Chicago')])  # Multiple conditions

In [ ]:
# ðŸŸ£ 4. SelecciÃ³n avanzada
### âœ” Usar `isin`
print(df[df['City'].isin(['Chicago', 'Miami'])]) 
# Cities Chicago or Miami

In [ ]:
# ðŸŸ£ 4. SelecciÃ³n avanzada
### âœ” SelecciÃ³n por query
print(df.query("Age > 28 and City == 'Chicago'"))

In [ ]:
# ðŸŸ£ 4. SelecciÃ³n avanzada
# Using .loc for label-based indexing
df.loc[df['Age'] > 28, ['Name', 'City']]

# ### ---  ####

In [ ]:
#-----------------------------------------

In [4]:
print(df[1:3])             # Select specific rows

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [7]:
#Use the unique method to determine the unique elements in a column of a DataFrame.
unique_dates = df['Age'].unique()
print(unique_dates)

[25 30 35 28]

In [10]:
# You can filter data in a DataFrame based on conditions using inequality operators.
# For instance, you can filter albums released after a certain year.
high_above_102 = df[df['Age'] > 28]
print(high_above_102)

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles